<div class="container">
  <div class="header">
    <%= link_to 'Back', subject_path(@subject), class:"btn btn-primary" %>
    <%= image_tag asset_path(@student.photo), class: 'avatar' %>
    <h1><%= @student.first_name %></h1>
  </div>
  <div class="analytics">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
    <br>
    <%= line_chart @dailynumber, label: "SOMETHING",xtitle: "Date", ytitle: "Emotions" %>
  </div>
  <div class="details">
    <h2>Year: 9</h2>
    <h2>Current class: </h2>
  </div>
  <div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Create an appointment
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= render 'shared/appointments_form' %>
      </div>
    </div>
  </div>
</div>




