<!-- every page is already in a container from application.html.erb -->
<div class="row nomarg">
  <%= image_tag asset_path(@student.photo), class: 'avatar' %>
  <h1 style="margin-left: 20px;"><%= @student.first_name %> <%= @student.last_name %></h1>
</div>

<div class="top">
  <div class="row nomarg">
    <div class="col-6 header">
      <h2>How is <%= @student.first_name %> feeling today?</h2>
      <p>Last check-in from Jamie was at <%= @student.daily_emotions.first.created_at.strftime("%I:%M %p on %a, %d %B, %Y") %> </p>
      <button class="btn btn-sammi appointment" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create an appointment
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= render 'shared/appointments_form' %>
        </div>
      </div>
    </div>

    <div class="col-6 emotion">
      <%= @student.daily_emotions.first.emotion.rating %>
    </div>
  </div>
</div>

<div class="row nomarg">
  <div class="col-4">
    <div class="week">
      <h3><%= @student.first_name %>'s week so far:</h3>
      <div class="collection">
        <h4>Monday</h4>
        <p>8:45 am</p>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: 50px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.emotions.first.rating %>
      </div>
      <div class="collection">
        <h4>Tuesday</h4>
        <p>8:45 am</p>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: 50px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.emotions.first.rating %>
      </div>
      <div class="collection">
        <h4>Wednesday</h4>
        <p>8:45 am</p>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: 50px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.emotions.first.rating %>
      </div>
      <div class="collection">
        <h4>Thursday</h4>
        <p>8:45 am</p>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: 50px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.emotions.first.rating %>
      </div>
      <div class="collection">
        <h4>Friday</h4>
        <p>8:45 am</p>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: 50px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.emotions.first.rating %>
      </div>
    </div>
  </div>


  <div class="col-8">
    <div>
      <h3><%= @student.first_name %>'s month</h3>
      <h3>November</h3>
    </div>

    <div>
      <%= @student.emotions.first.rating %>
      <%= @student.emotions.first.rating %>
      <%= @student.emotions.last.rating %>
      <%= @student.emotions.first.rating %>
      <%= @student.emotions.last.rating %>
    </div>
  </div>

</div>



<!--
<div class="left-info">
  <h4 class="left-title">

  </h4>
  <div class="d-flex">
    <div class="left">

    </div>
    <div class="right">

    </div>
  </div>
</div> -->
