<!-- every page is already in a container from application.html.erb -->
<div class="row nomarg">
  <%= image_tag asset_path(@student.photo), class: 'avatar' %>
  <h1 style="margin-left: 20px;"><%= @student.first_name %> <%= @student.last_name %></h1>
</div>

<div class="top">
  <div class="row nomarg">
    <div class="col-6 header">
      <h2>How is <%= @student.first_name %> feeling today?</h2>
      <p>Last check-in from Jamie was at <%= @student.daily_emotions.first.created_at.strftime("%I:%M %p on %a, %d %B, %Y") %> </p>
      <button class="btn btn-sammi appointment" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create an appointment
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= render 'shared/appointments_form' %>
        </div>
      </div>
    </div>

    <div class="col-6 emotion">
      <%= @student.daily_emotions.first.emotion.rating %>
    </div>
  </div>
</div>

<div class="row nomarg analytics">
  <div class="col-4 weekly-status">
    <div class="week">
      <h3><%= @student.first_name %>'s week so far:</h3>
      <div class="collection">

        <div class="time-title">
          <h4>Mon</h4>
          <p>8:45 am</p>
        </div>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: <%= @student.daily_emotions.fifth.emotion.number.to_f / 5 * 100 %>px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.daily_emotions.fifth.emotion.rating %>
      </div>
      <div class="collection">
        <div class="time-title">
          <h4>Tues</h4>
          <p>8:45 am</p>
        </div>

        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: <%= @student.daily_emotions.fourth.emotion.number.to_f / 5 * 100 %>px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.daily_emotions.fourth.emotion.rating %>
      </div>
      <div class="collection">
        <div class="time-title">
          <h4>Weds</h4>
          <p>8:45 am</p>
        </div>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: <%= @student.daily_emotions.third.emotion.number.to_f / 5 * 100 %>px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.daily_emotions.third.emotion.rating %>
      </div>
      <div class="collection">
        <div class="time-title">
          <h4>Thurs</h4>
          <p>8:45 am</p>
        </div>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: <%= @student.daily_emotions.second.emotion.number.to_f / 5 * 100 %>px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.daily_emotions.second.emotion.rating %>
      </div>
      <div class="collection">
        <div class="time-title">
          <h4>Fri</h4>
          <p>8:45 am</p>
        </div>
        <div class="bar" style="width: 100px; height: 15px; background-color: #E2E2E2;">
          <div class="bar2" style="width: <%= @student.daily_emotions.first.emotion.number.to_f / 5 * 100 %>px; height: 15px; background-color: blue;"></div>
        </div>
        <%= @student.daily_emotions.first.emotion.rating %>
      </div>
    </div>
  </div>
  <div class="col-8 monthly-status">
    <div class="month">

      <div>
        <h3><%= @student.first_name %>'s month:</h3>
      </div>
      <div class="calendar-heading">
        <div class="calendar">
          <%= month_calendar do |date| %>
            <span class="my-date"><%= date.day %></span>
            <p class="daily-emotion">
              <%= @daily_emotions.where(created_at: date)&.first&.emotion&.rating %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-2 emotion-label">
            <%= Emotion.all.first.rating %>
          </div>
          <div class="col-2 emotion-label">
            <%= Emotion.all.second.rating %>
          </div>
          <div class="col-2 emotion-label">
            <%= Emotion.all.third.rating %>
          </div>
          <div class="col-2 emotion-label">
            <%= Emotion.all.fourth.rating %>
          </div>
          <div class="col-2 emotion-label">
            <%= Emotion.all.last.rating %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-wrapper">

  <div class="input-text">

    <div class="avatar-container">
      <%= image_tag current_user.photo, class: "avatar" %>
    </div>

    <div class="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis adipisci, hic molestiae
      </p>
    </div>

    <p id="my-custom-date"><%= Date.today %></p>

  </div>


  <div class="my-submit-field">
    <input class="something" type="text" value="  Type something...">
    <!-- <div class="my-input">
      Type something
    </div> -->
    <div class="mybtn">
      <div class="btn btn-primary">Submit</div>
    </div>
  </div>
</div>

<!-- <div class="row nomarg notes">
  <div class="input">
    <div class="text">
      <%= image_tag current_user.photo, class: "avatar" %>
      <p>Lorem ipsum blah blah blaaaaah!</p>
    </div>
    <div class="chat-date">
    </div>
  </div>
</div>
 -->


<!--
<div class="left-info">
  <h4 class="left-title">

  </h4>
  <div class="d-flex">
    <div class="left">

    </div>
    <div class="right">

    </div>
  </div>
</div> -->