<div class='container'>
<h1>Your Classes</h1>
  <div class='row'>
    <% @subjects.each do |subject| %>
    <div class='col-6'>
      <%= link_to subject_path(subject) do %>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path(subject.photo) %>')">
        <%= subject.name %>
        <!-- https://d2mvzyuse3lwjc.cloudfront.net/www/resources/graph_gallery/image_functions/3DFunction_SeaShell.png -->
      </div>
    </div>
    <% end %>
    <% end %>
    <div class='col-6'>
      <%= link_to new_subject_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(); margin:10px">
        Add New Classroom
      </div>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [@subject] do |f| %>
    <%= f.input :name  %>
    <%= f.input :room  %>
    <%= f.input :photo %>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>

</div>
