<div class='container'>
<h1>Your Classes</h1>
  <div class='row'>
    <% @subjects.each do |subject| %>
    <div class='col-4' style='margin-bottom: 30px'>
      <%= link_to subject_path(subject) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path(subject.photo) %>')">
        <%= subject.name %>
      </div>
    </div>
    <% end %>
    <% end %>
    <div class='col-4' style='margin-bottom: 30px'>
      <%= link_to new_subject_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        Add New Classroom
      </div>
    </div>
      <% end %>
  </div>

   <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
     Add new classroom
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= render 'shared/new_class' %>
      </div>
    </div>
  </div>
</div>

</div>
