<div class='container'>
  <div class="row">
    <%= link_to 'Back', subjects_path, class: 'btn btn-primary'%>
  </div>
  <div class='row'>
    <% @subject.class_members.each do |member| %>
      <div class='col-4'>
        <div class='card-container' style='margin:20px'>
          <div class='row'>
            <div class='col-8'>
              <div class="card-product">
                <div class='container'>
                  <div class='row'>
                    <%= image_tag asset_path(member.photo), class: "avatar-large m-auto", alt: "avatar-large" %>
                  </div>
                  <div class='row'>
                    <h2 style='margin:auto'><%= member.first_name %> <%= member.last_name %></h2>
                  </div>
                   <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalStudent<%= member.id %>">
                    More Info
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="modalStudent<%= member.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle"><%= member.first_name %> <%= member.last_name %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= line_chart member.daily_emotions.map { |emo| [emo.date, emo.emotion.number] }, label: "Emotion",xtitle: "Date", ytitle: "Emotions", min: 0, max: 5, xmin: (member.daily_emotions.first.date - 7), xmax: member.daily_emotions.first.date  %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <%= link_to member.first_name, subject_user_path(@subject, member), class:"btn btn-primary"%>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class='col-4'>
              <div class="card-product-infos">
                <p style='margin:auto;' id="emotion"><%= member.emotions.last.rating %></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>
