
<div class='subject-banner' style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('<%= asset_path(@subject.photo) %>');">
  <div class="banner-text">
    <div class='col-6'>
      <h1><%= @subject.name %></h1>
      <p><%= @subject.class_members.length %> students registered in this class</p>
    </div>
    <div class='col-6'>
      <button class='btn-sammi'>Add Student</button>
      <button class='btn-ghost'>Back</button>
    </div>
  </div>
</div>
<div class='container'>
<% if @subject.class_members.length > 0 %>
<!-- This will be a bar showing the proportion for the entire class once we agree on a color scheme -->
<div class='class-progress'>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="background-color: <%= Emotion.first.color %>;width: <%= @emo_prop[Emotion.first.number] %>%" aria-valuenow="<%= @emo_prop[Emotion.first.number] %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar" role="progressbar" style="background-color: <%= Emotion.second.color %>; width: <%= @emo_prop[Emotion.second.number] %>%" aria-valuenow="<%= @emo_prop[Emotion.second.number] %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar" role="progressbar" style="background-color: <%= Emotion.third.color %>; width: <%= @emo_prop[Emotion.third.number] %>%" aria-valuenow="<%= @emo_prop[Emotion.third.number] %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar" role="progressbar" style="background-color: <%= Emotion.fourth.color %>; width: <%= @emo_prop[Emotion.fourth.number] %>%" aria-valuenow="<%= @emo_prop[Emotion.fourth.number] %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar" role="progressbar" style="background-color: <%= Emotion.fifth.color %>; width: <%= @emo_prop[Emotion.fifth.number] %>%" aria-valuenow="<%= @emo_prop[Emotion.fifth.number] %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<div class="student-index">
  <div class='row'>
    <div class='col-8'>
      <div class='row'>
        <% @subject.class_members.each do |member| %>
          <div class='col-12 col-md-12 col-lg-6'>
          <%= link_to subject_user_path(@subject, member) do %>
            <div class='card-container mb-4' <%#= member.daily_emotions.first.emotion.color %>>
              <div class='row'>
                <div class='col-4 pr-0'>
                  <div class="card-product">
                    <%= image_tag asset_path(member.photo), class: "avatar-large m-auto", alt: "avatar-large" %>
                  </div>
                </div>
                <div class='col-4 justify-content-center'>
                  <h2 style='padding-top:25%; font-size:16px'><%= member.first_name %> <%= member.last_name %></h2>
                  <p style='font-size:11px'>Last Updated Today at 08:1<%= rand(1..9) %></p>
                </div>
                <div class='col-4 pl-0'>
                  <div class="card-product d-flex">
                    <div class='col-6'>
                      <p id="emotion"><%= member.daily_emotions.first.emotion.rating %></p>
                    </div>
                    <div class='col-6'>
                      <% if member.daily_emotions.count > 3 %>
                        <% if member.daily_emotions.first.emotion.number > member.daily_emotions.second.emotion.number %>
                          <i class="fas fa-sort-up fa-lg"></i>
                          <% elsif member.daily_emotions.first.emotion.number < member.daily_emotions.second.emotion.number %>
                          <i class="fas fa-sort-down fa-lg"></i>
                          <% else %>
                          <i class="fas fa-minus fa-sm"></i>
                        <% end %>
                      <% else %>
                        <i class="<%= ["fas fa-minus fa-sm","fas fa-sort-up fa-lg","fas fa-sort-down fa-lg"].sample %>" ></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class='col-4'>
      <div class='stats-sticky'>
        <div class='container justify-content-around'>
          <div class='row d-flex justify-content-around'>
            <h2>Overview</h2>
          </div>
          <br>
          <div class='row'>
          <% Emotion.all.each do|emo| %>
            <div class='col-2'>
              <h2><%= emo.rating %></h2>
            </div>
            <div class='col-10'>
              <div class="bar" style="width: <%= @emo_prop[emo.number] * 2 %>%; height: 15px; background-color: <%= emo.color %>;">
              </div>
             <!--  <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= @emo_prop[emo.number] %>%;" aria-valuenow="<%= @emo_prop[emo.number] %>" aria-valuemin="0" aria-valuemax="100"><%= @emo_prop[emo.number].to_i %>%</div>
              </div> -->
            </div>
          <% end %>
          </div>
          <div class='card-status'>
            <h2>Class Mood</h2>
            <p id="emotion"><%= Emotion.all.find((@subject.class_members.map {|student| student.daily_emotions.map{|emo| emo.emotion.number}.sum / student.daily_emotions.length}.sum / @subject.class_members.length)).rating %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>



