<div class='container'>
<h1><%= @subject.name %></h1>
<%= link_to 'Delete Class', subject_path(@subject), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
  <div class='row'>
    <% @subject.class_members.each do |member| %>
    <div class='col-6'>
    <%= link_to user_path(member) do %>
      <div class="card-product m-5">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos m-3">
          <h2><%= member.first_name %> <%= member.last_name %></h2>
          <h2 id="emotion"><%= member.emotions.last.rating %></h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
