<div class="container">

  <div class="row mb-3">
    <div class="col-6"></div>
    <div class="col-6">
      <%= link_to 'Make an appointment', subjects_path, class: 'btn btn-ghost float-right'%>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border-right">
      <h2 class='border-bottom w-50'>Pending Appointments:</h2>

      <div class="container">
        <% @pending_appointments.order(:date).each do |appointment| %>
          <div class='row border-bottom'>
            <div class='col-12 appointment-card'>
              <h2><%= appointment.student.first_name %> <%= appointment.student.last_name %></h2>
              <p><%= appointment.date.strftime("%a, %d %B, %Y") %> </p>
              <p><%= appointment.date.strftime("%I:%M %p") %> </p>
              <% if current_user.teacher %>
                <%= link_to 'Cancel appointment', appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
                <%= link_to 'Completed', appointment_path(appointment, appointment: { completed: true }), method: :patch, class: 'btn btn-sammi' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <h2 class='border-bottom w-50'>Completed Appointments:</h2>
      <div class="container">
        <% @completed_appointments.order(:date).each do |appointment| %>
          <div class='row border-bottom'>
            <div class='col-12 appointment-card'>
              <h2><%= appointment.student.first_name %> <%= appointment.student.last_name %></h2>
              <p><%= appointment.date.strftime("%a, %d %B, %Y") %> </p>
              <p><%= appointment.date.strftime("%I:%M %p") %> </p>
              <% if current_user.teacher %>
                <%= link_to 'Hide appointment', appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
